.list{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  li,
  > a{
    width: 100%;
    padding: 12px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    border: 1px solid #d9d9d9;
    cursor: pointer;

    &:hover{
      box-shadow: -2px 4px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }

  li a {
    display: block;
  }

  li a:hover{
    text-decoration: none;
  }

  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background: #e5f5f6;
  }

  button {
    width: auto;
  }
}