@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  color: #1e1e1e;
}

h1, h4, p{
  font-family: 'Open Sans', sans-serif;
  color: #1e1e1e;
}

h1{
  text-align: center;
}

p{
  color: #1e1e1e;
  font-size: 12px;
}

h4 {
  margin: 0;
}

span{
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  margin: 0 20px;
}

.layout > aside{
  background: #3d3d3d;
  height: 100vh;  
}

nav li {
  background: #363636;
  border-bottom: 1px solid #505050;
}

nav li:hover {
  background: #3d3d3d;
}

nav li a{
  display: block;
  padding: 20px;
  color: #f1f1f1;
}

nav li a.active{
  color: #01818d;
  text-decoration: underline;
}

nav li:has(a.active){
  background: #3d3d3d;
}

label,
input {
  color: #1e1e1e;
}

label{
  font-size: 12px;
  font-weight: 600;
}

input, select{
  padding: 6px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-shadow: 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 8px;
}

.layout{
  display: grid;
  grid-template-columns: 200px auto;
}

a {
  color: #01818d;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.is-error{
  text-align: center;
  color: red;
  font-size: 16px;
}

.is-loading{
  text-align: center;
}

  